* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --azul: #060821;
    --rosa: #c12d6d;
    --branco: #ffffff;
    --azulC: #0C7FAF;
    --font1: 'Righteous', cursive;
    --font2: 'Titillium Web', sans-serif;
    
}

.container{
    display: flex;
    flex-direction: column;
    border: solid 3px rgb(224, 11, 11);
    height: 400px;
    width: 900px;
    background-color: black;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 750px;
    margin: 0 auto;
    align-items: center;
    height: 80px;
    background-color: var(--azul);

    
}

.header img {
    width: 250px;
}

.nav {
    display: flex;
    justify-content: space-between;
    width: 450px;
    font-family:var(--fonty1) ;
    font-size: 18px;
    color: var(--brnaco);
    text-transform: uppercase;
    text-decoration: none;
}

.btn_login {
    display: flex;
    color: #a8ff08;
    border: 3px solid var(--rosa);
    padding: 1px 25px;
    border-radius: 30%;
}

h1{
    position: absolute;
    left: -9999em;
    width: 1em;
    /* overflow: hidden; */
}

.banner {
    background-image: url(../img/banner-background.png);
    height: calc(100vh -80px);
    color: var(--brnaco);
    font-family: var(--font2);
    align-items: center;
}

.banner-conteudo {
    background: linear-gradient(114.61deg, rgba(255, 255, 255, 0.052) 1.08%, rgba(255, 255, 255, 0.117) 99.26%);
    border: 1px solid rgba(255, 255, 255, 0.8);
    box-shadow: 30px 30px 60px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 50px;
    width: 50%;
    margin: 0 auto;
    align-items: center;
}

.banner_slogan_1 {
    font-size: 60px;
    font-family: var(--fonty1);

}

.banner_slogan_2{
    font-size: 24px;
    margin: 50px;
}

.banner_slogan_3{
    font-size: 22px;
    text-decoration: underline;
}

.banner-botoes{
    display: flex; 
    justify-content: space-between; 
    width: 75%;
    margin-top: 50px;
}

.botao {
    font-family: var(--fonty1);
    color: var(--brnaco);
    text-transform: uppercase;
    font-size: 18px;
    text-decoration: none;
    
}

.botao-banner-botao-dev {
    background: rgba(255, 255, 255, 0.01);
    border: 4px solid var(--rosa);
    padding: 10px 30px;
    border-radius: 30%;
}

.botao-banner-botao-cliente{
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), linear-gradient(92.23deg, #FF398F -25.96%, #17BBFF 126.83%);
    padding: 14px 80px;

}


.conexao{
 background-color: var(--azulC);
 width: 500px;
 height: 120px;
 border: 1px solid var(--brnaco) ;
 font-family: var(--font2);
 font-size: 22px;
 color: var(--branco);
 text-align: center;
 font-weight: 600;
 border-radius: 30px;
 padding: 22px 0;
 position: relative;
 top: -60px;

}

.cliente{
    display: flex;
    align-items: center;
    position: relative;
    flex-direction: column;
}

.cliente-conteudo img {
    width: 500px;

}

h2 {
    font-family: var(--font1);
    font-size: 30px;
    text-transform: uppercase;
}








